@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "nullstyle.scss";
@import "fonts.scss";
@import "../../node_modules/swiper/swiper-bundle.css";
@import "./block/_general.scss";
@import "./block/_nav.scss";
@import "./block/_header.scss";
@import "./block/_footer.scss";
@import "./block/_top-panel.scss";
@import "./block/_head-banner.scss";
@import "./block/_promo.scss";
@import "./block/_product.scss";
@import "./block/_banner.scss";
@import "./block/_service.scss";
@import "./block/_news.scss";
@import "./block/_featured.scss";
@import "./block/_search.scss";
@import "./block/_modal.scss";
@import "./block/_path.scss";
@import "./block/_goods.scss";
@import "./block/_related.scss";
@import "./block/_cart-hover.scss";
@import "./block/_cart.scss";
@import "./block/_modal-massage.scss";
@import "./block/_store-aside.scss";
@import "./block/_range-slider.scss";
@import "./block/_store-center.scss";
@import "./block/_prod.scss";
@import "./block/_to-top-btn.scss";
@import "./block/_select.scss";
@import "./block/_modal__client-info.scss";