.banner {
  position: relative;
  background-color: #2e90e5;
  margin-bottom: 50px;

  @media (min-width: 992px) {
    margin-bottom: 98px;
  }
}

.banner__body-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 277px;
    height: 346px;
    bottom: 0;
    right: 0;
    background: url(.././img/banner/iphone6s.png) center / contain;

    @media (min-width: 600px) {
      width: 553px;
      height: 692px;
    }
  }
}

.banner__body {
  position: relative;
  max-width: 390px;
  width: 100%;
  color: #ffffff;
  padding: 45px 0 300px;

  @media (min-width: 600px) {
    padding: 45px 0 500px;
  }

  @media (min-width: 640px) {
    padding: 45px 0 400px;
  }

  @media (min-width: 700px) {
    padding: 145px 0 300px;
  }

  @media (min-width: 992px) {
    padding: 145px 0 200px;
  }

  .banner__title {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 26px;

    @media (min-width: 450px) {
      font-size: 66px;
      font-size: 50px;
    }
  }

  .banner__text {
    font-size: 16px;
    line-height: 43.2px;
    margin-bottom: 49px;

    @media (min-width: 450px) {
      font-size: 24px;
    }
  }

  .banner__link {
    position: relative;
    color: #ffffff;
    transition: .3s;

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #ffffff;
      bottom: -7px;
      left: 0;
      transition: .3s;
    }

    &:hover {
      transition: .3s;
      color: $hoverColor;

      &::after {
        transition: .3s;
        background-color: $hoverColor;
      }
    }
  }
}