.cart {
  margin-bottom: 160px;
}

.container {}

.cart-inner {}

.cart__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f6f7f8;
  padding-bottom: 28px;
}

.cart__title-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;

  &:first-child {
    width: 47%;
  }
}

.cart-body {

  .cart-item {
    padding: 40px 0;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 28px;
    border-bottom: 2px solid #f6f7f8;

  }

  .cart-item__del {}

  .cart-item__close-img {}

  .cart-item__img-body {
    display: block;
    width: 130px;
    height: 130px;
  }

  .swiper-slide__img {}

  .cart-item__title {}

  .cart-item__price {}

  .cart-item__quantity-body {}

  .cart-item__quantity {}

  .cart-item__quantity-plus {}

  .cart-item__quantity-number {}

  .cart-item__quantity-minus {}

  .cart-item__price-total {}
}

.cart-result {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.cart-result__input-wrapper {
  display: flex;
  transition: .3s;

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
}

.cart-result__input {
  width: 250px;
  height: 60px;
  border-radius: 4px;
  border: 2px solid #f1f3f4;
  padding: 20px 140px 20px 20px;
  transition: .3s;
}

.cart-result__input-btn {
  height: 60px;
  width: 120px;
  background-color: #33a0ff;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.35px;
  line-height: 22px;
  border-radius: 0 4px 4px 0;
  transition: .3s;

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    background-color: darken($color: #33a0ff, $amount: 10%);
  }
}

.cart-result__item {
  width: 370px;
}

.cart-result__total-item {
  display: flex;
  justify-content: space-between;
  color: #262626;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
}

.cart-result__total-item-text {}

.hr-thin {}

.cart-result__total-item-text-big {
  color: #22262a;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.75px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.cart-result__total-item-btn {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #33a0ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 28px;
  transition: .3s;

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    background-color: darken($color: #33a0ff, $amount: 10%);
  }
}

.cart-no-product {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: rgba(34, 38, 42, .5);
  letter-spacing: .35px;
  line-height: 16.8px;
  font-size: 30px;
}