.head-banner {
  display: flex;
  height: 650px;
  background-image: linear-gradient(63deg, #ff4858 0%, #8f65ff 100%);
  min-width: 0;
}

.carousel {
  height: 100%;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 30px;
  height: 100%;

  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
  }
}

.carousel-item__text-block {
  color: #ffffff;
  width: 100%;
  margin-bottom: 50px;

  @media (min-width: 992px) {
    max-width: 330px;
    margin-bottom: 0px;

  }
}

.carousel-item__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  margin-bottom: 40px;
}

.carousel-item__text {
  line-height: 22px;
  margin-bottom: 40px;
}

.carousel-item__link {
  position: relative;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  transition: .3s;

  &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    bottom: -7px;
    left: 0;
    transition: .3s;

  }

  &:hover {
    transition: .3s;
    color: $hoverColor;

    &::after {
      transition: .3s;
      background-color: $hoverColor;
    }
  }
}

.carousel-item__img-block {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.carousel-item__img {
  display: block;
  width: 100%;
  object-fit: contain;
  object-position: center;

  @media (min-width: 992px) {
    width: 100%;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  width: 14px;
  height: 24px;
  margin-top: 0;
}

.swiper-button-next {
  background-image: url(.././img/head-carousel/arrow_right.svg);
}

.swiper-button-prev {
  background-image: url(.././img/head-carousel/arrow_left.svg);
}