.path {
  padding: 17px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(246, 247, 248, 0.5);
  font-weight: 600;
  letter-spacing: 0.35px;
  line-height: 16.8px;
  margin-bottom: 55px;
  overflow: scroll;

  @media (min-width: 500px) {
    justify-content: center;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.path__link {
  color: #33a0ff;
}

.path__slash {
  color: #c1c8ce;
  margin: 0 10px;
}

.path__current {
  white-space: nowrap;
}