.products {
  margin-bottom: 150px;
}

.container {}

.products__head-title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.75px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 26px;
  text-align: center;
}

.products__body {}

.products__tabs-list {
  display: flex;
  justify-content: center;
  transition: .3s;
}

.products__tabs-item {
  position: relative;
  margin-bottom: 35px;
  cursor: pointer;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  line-height: 16.8px;
  transition: .3s;

  &+& {
    margin-left: 45px;
  }

  @extend %hover;
  @extend %hover-line;
}

.products__tabs-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 42px 20px;
  width: 270px;
  height: 349px;
  border-radius: 4px;
  border: 3px solid #f6f7f8;
  margin-bottom: 30px;
  transition: .3s;

  &:hover,
  &:active,
  &:focus {
    transition: .3s;

    .product-card__hover {
      transition: .3s;
      opacity: 1;
    }
  }

  &.hot::after {
    @extend %cardAfter;
    content: 'HOT';
    background-color: #ff4858;
  }

  &.new::after {
    @extend %cardAfter
  }
}

.product-card__img {
  display: block;
  width: 100%;
  height: 160px;
  object-fit: contain;
  object-position: center;
  padding-bottom: 30px;
  margin-bottom: 17px;
  border-bottom: 1px solid #f6f7f8;

}

.product-card__title {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  line-height: 16.8px;
  margin-bottom: 27px;
}

.product-card__rate {
  margin-bottom: 14px;
}

.product-card__price {
  display: flex;
  color: #ff4858;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 16.8px;
  text-align: center;
}

.product-card__price-new {}

.product-card__price-old {
  position: relative;
  margin-left: 10px;
  color: #c1c8ce;

  &::after {
    content: '';
    position: absolute;
    border: 1px solid #5d656b;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}

.product-card__hover {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 160px;
  opacity: 0;
  transition: .3s;
  background-color: rgba(255, 255, 255, 0.90);
}

.product-card__hover-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 2px solid rgba(51, 160, 255, 0.25);
  border-radius: 50%;
  top: 50%;
  transform: translateY(75%);
  background-color: transparent;
  cursor: pointer;

  &+& {
    margin-left: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    background-color: #33a0ff;

    .product-card__hover-item-svg path {
      transition: .3s;
      fill: #fff;
    }
  }
}

.more-btn {
  display: block;
  background-color: transparent;
  padding: 4px 0;
  margin: 0 auto;
  color: #33a0ff;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;

  border-bottom: 3px solid #33a0ff;
}