.related {
  margin-bottom: 160px;
}

.related__title {
  margin-bottom: 58px;
}

.related__body {
  display: flex;
  justify-content: space-between;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 550px) {
    flex-direction: row;
  }

}

.related__item {
  &.product-card {
    display: flex;
    width: 24%;
  }
}