.service {
  margin-bottom: 140px;
}

.service-body {
  display: flex;
  flex-direction: column;
  
  @media (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.service__item {
  text-align: center;
  padding: 0 20px;
  flex: 0 1 300px;

  @media (min-width: 800px) {
    flex: 0 1 370px;
  }
}

.service__item-img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 62px;
  object-fit: contain;
  margin-bottom: 35px;
}

.service__item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 43.2px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.service__item-text {
  line-height: 24px;
}