.store__center {
  flex: 1 1 auto;
}

.store__top-banner {
  position: relative;
  height: 340px;
  border-radius: 4px;
  padding: 57px 54px;
  background-color: #2e90e5;
  overflow: hidden;
  margin-bottom: 26px;

  &::after {
    content: '';
    position: absolute;
    width: 328px;
    height: 340px;
    right: 56px;
    bottom: 0;
    background: url(.././img/store/store-banner.png);
  }
}

.store__top-banner-title {
  color: #ffffff;
  font-size: 42px;
  font-weight: 300;
  line-height: 43.2px;
  margin-bottom: 22px;
}


.store__top-banner-text {
  width: 280px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
  margin-bottom: 40px;
}

.store__top-banner-link {
  display: inline;
  color: #ffffff;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 5px;
  transition: .3s;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    color: $hoverColor;
    border-bottom: 4px solid $hoverColor;
  }
}



.store__top-panel {
  display: flex;
  align-items: center;
  height: 58px;
  border-radius: 4px;
  background-color: #f6f7f8;
  padding: 0 0 0 20px;

  letter-spacing: 0.35px;
  line-height: 16.8px;
  text-align: center;
  margin-bottom: 26px;
}

.store__top-panel-item {
  &:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
  }

  &:nth-child(2),
  &:nth-child(3) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 3.5px 0 3.5px;
      border-color: #22262a transparent transparent transparent;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  &+& {
    margin-left: 40px;
  }

  & select {
    background-color: transparent;
    width: 116px;
    height: 38px;
    border-radius: 4px;
    border: 2px solid #f1f3f4;
    margin-left: 14px;
    appearance: none;
    padding: 0 10px;

    &::-ms-expand {
      display: none;
    }
  }
}

.store__top-panel-text {}

.store__top-panel-sort {}


.store__top-panel-show {}

.store__top-panel-icon {
  width: 50px;
  height: 56px;
  background-color: transparent;
  transition: .3s;

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    background-color: #f1f3f4;
  }

  &.active {
    background-color: #f1f3f4;

    & svg.store__top-panel-icon-svg {
      & path {
        fill: #2678bf;
      }
    }
  }
}

.store__top-panel-icon-svg {}





.store__products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  column-gap: 30px;
  row-gap: 30px;

  &.inline {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}