.store {
  margin-bottom: 160px;
}

.store__body {
  display: flex;
  flex-direction: column;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.store__aside {
  display: none;
  flex: 0 0 300px;
  margin-bottom: 50px;

  @media (min-width: 1000px) {
    display: block;
    margin-bottom: 0px;
    padding-right: 30px;
  }
}

.store__aside-block-hover-btn {
  display: block;
  position: relative;
  border-radius: 4px;
  background-color: #f6f7f8;
  padding: 20px 20px 30px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media (min-width: 1000px) {
    display: none;
  }

  img {
    width: 12px;
    height: 12px;
  };
}

.store__aside-block {
  border-radius: 4px;
  background-color: #f6f7f8;
  padding: 20px 20px 30px;

  &+& {
    margin-top: 30px;
  }

  &:nth-child(3) {
    & .store__aside-block-list {
      display: flex;
      justify-content: space-between;

      & .store__aside-block-list-item {
        margin-top: 0px;
      }
    }
  }
}

.store__aside-block-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.store__aside-block-list {}

.store__aside-block-list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #262626;
  font-weight: 600;
  letter-spacing: 0.35px;
  line-height: 16.8px;
  transition: .3s;
  cursor: pointer;

  &.checked {
    color: $hoverColor;

    &::after {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      background: url(.././img/store/check-square-regular.svg) no-repeat;
      left: -16px;
      color: $hoverColor;
    }
  }

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    color: $hoverColor;

    & .store__aside-block-list-item-value {
      transition: .3s;
      color: $hoverColor;
    }
  }

  &+& {
    margin-top: 20px;
  }
}

.store__aside-block-list-item-value {
  transition: .3s;
  color: rgba(34, 38, 42, 0.35);
  pointer-events: none;

  &.checked {
    color: $hoverColor;
  }

  &.goods__color-item {
    &::before {
      border: 5px solid #f6f7f8;
    }
  }
}

.store__aside-block-price-filter {}



.store__aside-block-btn {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #262626;
  letter-spacing: 0.35px;
  line-height: 16.8px;
  text-transform: uppercase;
}

.store__center {}