.store__center {
  flex: 1 1 auto;
}

.store__top-banner {
  position: relative;
  height: 340px;
  border-radius: 4px;
  padding: 57px 54px;
  background-color: #2e90e5;
  overflow: hidden;
  margin-bottom: 26px;
  display: none;

  @media (min-width: 1000px) {
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    width: 328px;
    height: 340px;
    right: 56px;
    bottom: 0;
    background: url(.././img/store/store-banner.png);
  }
}

.store__top-banner-title {
  color: #ffffff;
  font-size: 42px;
  font-weight: 300;
  line-height: 43.2px;
  margin-bottom: 22px;
}


.store__top-banner-text {
  width: 280px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
  margin-bottom: 40px;
}

.store__top-banner-link {
  display: inline;
  color: #ffffff;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 5px;
  transition: .3s;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    color: $hoverColor;
    border-bottom: 4px solid $hoverColor;
  }
}

.store__top-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #f6f7f8;
  padding: 0px 20px 0 20px;
  height: 56px;

  letter-spacing: 0.35px;
  line-height: 16.8px;
  text-align: center;
  margin-bottom: 26px;

  @media (min-width: 700px) {
    justify-content: flex-start;
    padding: 0px 0 0 20px;
    // flex-direction: row;
    // height: 58px;
    // padding: 0px 0 0 20px;
  }
}

.store__top-panel-text {
  display: none;
  margin-right: 15px;
  white-space: nowrap;

  @media (min-width: 700px) {
    display: block;
  }

}

.store__top-panel-select-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 36px;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  transition: .3s;

  @media (min-width: 700px) {
    border: 3px solid rgb(235, 235, 235);
  }

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    border-color: rgba(51, 160, 255, 0.2);
  }
}

.select-wrapper {}

.store__top-panel-select {
  width: 100%;
  opacity: 0;

  @media (min-width: 700px) {
    opacity: 1;
  }

}

.store__top-panel-select-dropdown {
  width: 100%;

  &.select__dropdown {
    top: 38px;
  }
}

.store__top-panel-item {
  position: relative;
  display: flex;
  align-items: center;

  &:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;

    @media (min-width: 700px) {}
  }

  .hiden-select-icon {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (min-width: 700px) {
      display: none;
    }

  }

  &:nth-child(1),
  &:nth-child(4) {
    display: none;

    @media (min-width: 700px) {
      display: flex;
    }
  }

  &+& {
    @media (min-width: 700px) {
      margin-left: 40px;
    }
  }
}


.store__top-panel-sort {}


.store__top-panel-show {}

.store__top-panel-icon {
  width: 50px;
  height: 56px;
  background-color: transparent;
  transition: .3s;

  &:hover,
  &:focus,
  &:active {
    transition: .3s;
    background-color: #f1f3f4;
  }

  &.active {
    background-color: #f1f3f4;

    & svg.store__top-panel-icon-svg {
      & path {
        fill: #2678bf;
      }
    }
  }
}

.store__top-panel-icon-svg {}

.store__products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  column-gap: 30px;
  row-gap: 30px;

  &.inline {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.img-btn {
  img {
    width: 20px;
    height: 20px;
  }
}