.header {
  padding: 15px 0 35px;
}
.top-panel__wrapper{
  border-bottom: 2px solid #fafafb;
  padding: 15px 0;
}
.top-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: 550px) {
    justify-content: space-between;
  }
}

.top-panel__info {
  display: none;
  @media (min-width: 550px) {
    display: block;
  }
}

.top-panel__select {
  letter-spacing: 0.35px;
  line-height: 16.8px;
  text-align: center;
  text-transform: uppercase;

}

.store-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store-bar__item {
  display: flex;
  align-items: center;
  color: #262626;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 16.8px;
  text-align: left;

  &+& {
    margin-left: 40px;
  }
}

.store-bar__profile {}

.store-bar__item-img {
  display: block;
  margin-right: 10px;
}

.store-bar__item-name {}

.store-bar__cart {
  display: flex;
}

.store-bar__item-number {
  margin-right: 5px;
}

.store-bar__item-total {
  color: rgba(38, 38, 38, 0.5);
  letter-spacing: 0.35px;
  line-height: 16.8px;
  margin-left: 10px;
}

.store-bar__item-total-price {}

.store-bar__search {
  margin-left: 57px;
  position: relative;
display: none;
  &::before {
    content: url(../.././img/icons/search-icon.svg);
    position: absolute;
    width: 16px;
    height: 16px;
  }

  @media (min-width: 550px) {
    display: block;
  }
}

.store-bar__search-input {
  width: 16px;
  height: 16px;
}
.top-title {
  padding: 40px 0 49px 0;
}
.top-store-name {
  color: #ff4252;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 4px;
  text-align: center;
}